


body {
  /* margin: 10px; */
  /* padding: 0; */
  /* display: grid; */
  /* justify-content: center;
  align-items: center;
  height: fit-content; 
  width: fit-content; */
  font-family: "Trebuchet MS", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  background-color: #235197;
  /* background-size: cover;
  background-repeat: round;
  background-attachment: fixed;  */
  /* position: relative; 
  min-height:100vh;
  max-width: 100vw; */
  }


  /* @media screen and (min-width: 767px) {
    body {
      background-image: url('backgrounds/1.jpg');
    }

}  */
  .search_tiles {
    font-size: 1rem;
   
  }

 #main_form {
  margin-bottom: 1vw;
 }

 #cpanel span, #cpanel a {
padding-top: 2vw;
padding-bottom: 2vw;
}
  
.grid-container_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  /* justify-content: center; */
  align-items: center;
}

/*fish card grid*/
.column_result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  justify-content: center;
  /* align-items: center; */
} 

/*fish card items*/
.fishsize {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1vw;
  color: rgb(136, 105, 3); 
}

.fishtemp {
  position: absolute;
  color: rgb(136, 105, 3); 
  bottom: 0;
  left: 50%;
  transform: translateX(-70%);
  margin: 1vw;
}

.tanksize {
  position: absolute;
  color: rgb(136, 105, 3); 
  bottom: 0;
  left: 5%;
  transform: translateX(-45%);
  margin: 1vw;
}

.fishsize, .fishtemp, .tanksize {
  font-size: 2vw;
}

.fishname {
  margin-top: 0px;
  font-size: 3vw;
}

/*Tiles*/ 

.tiles, .infotile {
  background: linear-gradient(145deg, #bdce86f6  5%, #9bb8cdec 50%);
  border-radius: 10px;
  padding: 1vw;
  box-shadow: 5px 5px 10px rgba(3, 85, 110, 0.74);
  border: 1px solid #0f1946; 
  margin: 0.5vw 0 0 0 ; 
  position: relative;
}

.infotile { 
  background: linear-gradient(145deg, #c2db70f6  22%, #9bb8cdec 88%);
  white-space: wrap;
  display: none;
}

.infotile p { 
 margin: 0; 
}


.fish_card, .infocard {
  flex: 0 0 calc(33.33% - 2vw); 
  margin: 5px; 
  box-sizing: border-box;
  border: 1px solid #010a14;
  border-radius: 10px;
  padding: 1vw;
  background: linear-gradient(145deg, #dbb96fe0 22%, #ca8b2de0 88%);
background-attachment: fixed;
box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);
position: relative; /*necessary for in card elements to allign as I want */ 
  
} 

.infocard {
  background: linear-gradient(125deg, #e1ec3edc 25%, #ca8b2de0 66%);
  box-shadow: 5px 5px 10px hsla(49, 90%, 25%, 0.904);
}

.infocardtext {
  font-size: 0.9rem;
  margin: 0; 
}

#more_options {
  display: grid;
}

.fishcardimage {
  width: 20vw;
  height: 15vh;
  border-color: #05224f;
  border-width: 1px; 
  border-radius: 3px;
  border-style: solid;
  }

  .iconimage {
    width: 5vw;
    height: 3.75vw;
    border-color: #05224f;
    border-width: 1px; 
    border-radius: 3px;
    border-style: solid;
    }

/* Making it a little bit responsive here  */ 


@media screen and (max-width: 550px) {
  .column_result {
    grid-template-columns: repeat(2, 1fr);
  }
  .fishcardimage {
    width: 35vw;
    height: 25vw;
  }
  .iconimage  {
    width: 10vw;
    height: 7.5vw;
  }
  .fishsize, .fishtemp, .tanksize, .infocardtext {
    font-size: 2.92vw;
  }
  .capradiolabel {
    font-size: 3vw;
  }
}


@media screen and (min-width: 550px) {
  #maindiv {
    width: 95vw;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .fishcardimage {
    width: 25vw;
    height: 18.75vw;
  }
  .fishsize, .fishtemp, .tanksize {
    font-size: 2vw;
  }

  .fishname {
    font-size: 2.5vw;
  }
}


@media screen and (min-width: 788px) {
  #maindiv {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .fishcardimage {
    width: 25vw;
    height: 18.75vw;
  }
  .fishname {
    font-size: 2vw;
  }

  #cpanel span, #cpanel a {
    padding-top: 1vw;
    padding-bottom: 1vw;
    }

}


@media screen and (min-width: 839px) {
  #maindiv {
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
  }
  .fishcardimage {
    width: 22.5vw;
    height: 16.875vw;
  }
  .fishsize, .fishtemp, .tanksize {
    font-size: 1.8vw;
    margin: 0.5vw;
  }
  .fishname {
    font-size: 1.7vw;
  }
}

@media screen and (min-width: 956px) {
  #maindiv {
    width: 75vw;
    margin-right: 12vw;
    margin-left: 12vw;
  }
  .fishcardimage {
    width: 21vw;
    height: 15.75vw;
  }
  .fishsize, .fishtemp, .tanksize {
    font-size: 1.5vw;
  }

  .fishname {
    font-size: 1.5vw;
  }

  #div_tank_size:hover {
    #perliter{
      display: inline-block;
    }
  }
  
  #div_temp:hover {
    #pertemp{
      display: inline-block;
    }
  }
}

@media screen and (min-width: 1110px) {
  #maindiv {
    width: 70vw;
    margin-right: 15vw;
    margin-left: 15vw;
  }
  .fishcardimage {
    width: 20vw;
    height: 15vw;
  }
  .grid-container_main {
    gap: 0.5vw; 
  }
}

@media screen and (min-width: 1300px) {
  #maindiv {
    width: 65vw;
    margin-right: 17vw;
    margin-left: 17vw;
  }
  .fishsize, .fishtemp, .tanksize {
    font-size: 1.2vw;
    margin: 0.25vw;
  }
  .fishcardimage {
    width: 18vw;
    height: 13.5vw;
}
}

@media screen and (min-width: 1530px) {
  #maindiv {
    width: 60vw;
    margin-right: 20vw;
    margin-left: 20vw;
    
  }

  .column_result {
    grid-template-columns: repeat(4, 1fr);
  }
  .fishcardimage {
    width: 14.5vw;
    height: 10.875vw;
}
.fishsize, .fishtemp, .tanksize {
  font-size: 1vw;
}

.fishname {
  font-size: 1vw;
}

.grid-container_main {
  grid-template-columns: repeat(2, 1fr); /*apply the same for bigger vp size will test it on big screen at home*/
}
}

/* @media (max-width: 768px) {
  #maindiv {
    width: 100%; 
  }
} */

.grid-container-cpanel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  justify-content: center;
  align-items: center;
}



/* more options div gird */ 
/* .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  justify-content: center;
  align-items: center;
} */

.grid-item {
  justify-content: center;
  align-items: center;
  padding: 1vw;
  height: auto;
}



.parameter {
 font-weight: 666;
}

.notselected {
  background: linear-gradient(188deg, #b08df1f1 22%, #5354aaee 100%);
  border-radius: 14px;
  padding: 2vw;
  box-shadow: 5px 5px 10px rgb(70, 3, 4);
  border: 1px solid #ccc; 
    }


  .validation_alert {
    color: red;
    font-size: small;
  }


  #alerts {
    margin: 0;
    padding: 0;
    display: grid; 
    align-items: center;
    justify-content: center;
}

.alert {
  color:rgb(17, 7, 7);
/* color:rgb(70, 3, 4); */
/* font-size: 20px; */
font-weight: 800;
background: linear-gradient(188deg, #b08df1f1 22%, #5354aaee 100%);
border-radius: 10px;
padding: 5vh;
box-shadow: 5px 5px 10px rgb(70, 3, 4);
border: 1px solid #0f1946; 
margin: 10px 0 0 0 ; 
}

.inputalert {
  border-color: red;  
  background: linear-gradient(188deg, #ac9fc2f1 22%, #9571b3ee 100%);
}

.valid_alert {
color:rgb(114, 122, 3);
/* font-size: 20px; */

background: linear-gradient(125deg, #ebbe5de0 12%, #ca8b2de0 66%);
border-radius: 10px;
padding: 20px;
box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);
border: 1px solid #0f1946; 
margin: 10px 0 0 0 ; 
display: none; 
}





select {
  background-color: #cedba3f6;
  cursor: pointer;
}

.numberbox {
  background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 100%);
cursor: text;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: #485d6bec;
}

input[type="radio"] {
  cursor: pointer;
}


#cpanel1, #cpanel2 {
  position: relative; 
}


/*The button that opens the dropdown for Settings */ 
.dropbtn {
  text-decoration: none; /* Remove underline from the anchor element; I might separate this.*/
  background:#9ac1c1ec;
  /* background-color: #72a2c2; */
  color: rgb(8, 1, 1);
  padding: 1vw;
  font-size: 0.8rem;
  border: solid;
  cursor: pointer;
  border-width: 0.01vw;
  /* border-left: 0.2vw solid #000;  
  border-right: 0.2vw solid #000;  */
  /* border-top: none;           
  border-bottom: none; */
  padding-top: 0.3vw; 
  padding-bottom: 0.3vw; 
  border-radius: 3px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:  #86a5def8; 
  font-size: 0.82rem;
  border-radius: 5px;
}

/* paremeter dropdown */ 

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background:  #9dd4e0ec;
  /* min-width: 5vw; */
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(53, 72, 247, 0.473);
  z-index: 1;
  border-radius: 0 10px 10px 10px;
  white-space: nowrap; 
}

.dropdown-content:hover, .dropdown-content:focus {
  box-shadow: 5px 5px 10px rgba(31, 51, 236, 0.795);
}

.dropdown-content span {
  color: black;
  padding: 1vh 1.5vh;
  text-decoration: none;
  display: inline-block;
}

.dropdown span:hover {background-color:  #86a5def8; }

.show {display: block;}

/* Cpanel dropdown */ 
.dropbtn-cpanel {
  text-decoration: none; /* Remove underline from the anchor element; I might separate this.*/
  background:#85c9c9ec;
  /* background-color: #72a2c2; */
  color: rgb(8, 1, 1);
  padding: 1vw;
  padding-top: 4vw;
  padding-bottom:4vw; 
  font-size: 1rem;
  border: solid;
  cursor: pointer;
  border-left: 0.15vw solid #000;  
  border-right: 0.15vw solid #000; 
  border-top: none;           
  border-bottom: none;
  padding-top: 1vh; 
  padding-bottom: 1vh; 
  border-radius: 10px;
}

.dropbtn-cpanel:hover, .dropbtn-cpanel:focus {
  background-color:  #86a5def8; 
  font-size: 1.05rem;
}

/* paremeter dropdown */ 

/* .dropdown {
  position: relative;
  display: inline-block;
} */


.dropdown-cpcontent {
  display: none;
  position: absolute;
  background:  #9dd4e0ec;
  /* min-width: 5vw; */
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(53, 72, 247, 0.473);
  z-index: 1;
  border-radius: 0 10px 10px 10px;
  white-space: nowrap; 
}

.dropdown-cpcontent:hover, .dropdown-content:focus {
  box-shadow: 5px 5px 10px rgba(31, 51, 236, 0.795);
}

.dropdown-cpcontent span {
  color: black;
  padding: 1vh 1.5vh;
  text-decoration: none;
  display: block;
}

/* .dropdown span:hover {background-color:  #86a5def8; } */
/******************************************/

.reveal_card {
  display: none;
}






.title {
  position: absolute;
  font-weight: 666;
  top: 0;
  left: 50%;
  transform: translateX(-40%);
  white-space: nowrap;
  font-size: 0.8rem; 
}

.subtitle, .bigsubtitle, .verybigsubtitle {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-40%);
  white-space: nowrap;
  font-size: 13px; 
}

@media screen and (max-width: 1288px) {
  .verybigsubtitle {
    font-size: 67%;
    transform: translateX(-40%);
  }
}

@media screen and (max-width: 1200px) {
  .bigsubtitle {
    font-size: 70%;
    transform: translateX(-40%);
  }

  .verybigsubtitle {
    font-size: 64%;
  }
}

@media screen and (max-width: 830px) {
  

  .verybigsubtitle {
    font-size: 60%;
    transform: translateX(-38%);
  }
}

@media screen and (max-width: 812px) {
  

  .bigsubtitle {
    font-size: 65%;
    transform: translateX(-38%);
  }
}



/*About and feedback*/ 

#about {
  margin-left: 3vw; 
}

#noresults {
  display: none;
}

#searchInput {
  background-color: #ecf1bd;
}


/*Animations*/ 
/* Number of selector results update animation; firing only if result number changes*/

@keyframes resultflash { 
  0% { background-color: rgba(189, 206, 134, 0.336); color: rgb(255, 252, 76);}
  10% { background-color:  rgba(185, 212, 95, 0.438); color: rgb(204, 218, 157);}
  20% { background-color: rgba(218, 218, 104, 0.568); }
  40% { background-color: rgba(221, 221, 78, 0.514);  }
  60% { background-color: rgba(226, 226, 60, 0.541);  }
  80% { background-color: rgba(214, 214, 82, 0.247); }
  100% { background-color: rgba(209, 209, 114, 0.301);  }
}

.value-updated {
  animation: resultflash 1s ease;
  border-radius: 25px;
}

/*Capacity and temperatur conversion animation*/
@keyframes numberflash { 
  0% { background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 100%); color: yellow;}
  10% { background: linear-gradient(125deg, #a6ceecec 22%, #e2f0b3f6 95%);color: rgba(255, 242, 65, 0.89);}
  20% { background: linear-gradient(115deg, #a4c6e0 22%, #e2f0b3 90%);}
  30% { background: linear-gradient(125deg, #a0c8e4 22%, #e2f0b3 85%);}
  40% { background: linear-gradient(115deg, #b5d7f0ec 22%, #e2f0b3 83%);}
  50% { background: linear-gradient(124deg,#b5d7f0 22%, #e2f0b3 85%);}
  60% { background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 90%);}
  70% { background: linear-gradient(123deg, #b5d7f0ec 22%, #e2f0b3f6 95%);}
  80% { background: linear-gradient(112deg, #b5d7f0ec 22%, #e2f0b3f6 100%);}
  90% { background: linear-gradient(117deg, #b5d7f0ec 22%, #e2f0b3f6 100%);}
  100% { background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 100%);}
}

.number-updated {
  animation: numberflash 1s ease;
  cursor: text;
}


@keyframes glow { 
  0% { border: 1px solid   #05224f; box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);}
  10% { border:1px solid  #5c580b; box-shadow: 5px 5px 10px hsla(49, 85%, 33%, 0.904);}
  20% { border: 1px solid #a7871f; box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);}
  30% { border: 1px solid #96701e; box-shadow: 5px 5px 10px hsla(49, 95%, 26%, 0.904);}
  40% { border: 1px solid #915d22; box-shadow: 5px 5px 10px hsla(49, 85%, 26%, 0.904);}
  50% { border: 1px solid #9c7c11;box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);}
  60% { border: 1px solid #976328;box-shadow: 5px 5px 10px hsla(49, 66%, 33%, 0.904); }
  70% { border: 1px solid #806429; box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);}
  80% { border: 1px solid  #a7871f;box-shadow: 5px 5px 10px hsla(49, 71%, 29%, 0.904);}
  90% { border: 1px solid #5f4e16;box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);}
  100% { border: 1px solid #05224f;box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);}
}


.reveal_card:hover .iconimage { 
  animation: glow 7s infinite; 
}


.hardipertile, .availpertile, .behpertile ,.agrespertile, .breedpertile, #perliter, #pertemp {
  display: none;
  font-size: 0.7rem;
}


/* #div_hardiness:hover {
  .hardipertile {
    display: inline-block;
  }
}

#div_avail:hover {
  .availpertile {
    display: inline-block;
  }
}

#div_behavior:hover {
  .behpertile {
    display: inline-block;
  }
}

#div_agression:hover {
  .agrespertile {
    display: inline-block;
  }
}


#div_breeding:hover  {
  .breedpertile {
    display: inline-block;
  }
} */




#imagechanger {
  display: none; /*dont need it for now */ 
}


.filler {
  font-size: 0.7rem; 
  color:#413e07;
}


.google-form-wrapper {
  max-width: 640px; 
  margin: auto;
  border: 1px solid #ccc; 
  box-shadow: 5px 5px 10px rgba(3, 85, 110, 0.74);
  border-radius: 10px; 
  overflow: hidden; 
  background: linear-gradient(145deg, #d4e796f6  5%, #b4d6eeec 50%);
}