


body {
  /* margin: 10px; */
  /* padding: 0; */
  display: grid;
  /* justify-content: center;
  align-items: center;
  height: fit-content; 
  width: fit-content; */
  font-family: "Trebuchet MS", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  background-color: #235197;
  /* background-size: cover;
  background-repeat: round;
  background-attachment: fixed;  */
  position: relative; 
  min-height:100vh;
  max-width: 100vw;
  }


  /* @media screen and (min-width: 767px) {
    body {
      background-image: url('backgrounds/1.jpg');
    }

}  */
  .search_tiles {
    font-size: 1rem;
  }

#maindiv {
  width: 95vw; 
  margin: auto;
  padding: 2vw; 
  /* border-radius: 5px;  */
  /* display: inline-block;  */
  white-space: nowrap;
  display: grid; 
  /* justify-content: center;
  align-items: center; */
  height: fit-content; 
  width: fit-content;
}

#more_options {
  display: grid;
}

/* #main_form {
  display: grid; 
} */

/* .column {
  flex: 1; 
  margin: 10px; 

} */

.grid-container-cpanel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  justify-content: center;
  align-items: center;
}

.grid-container_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  justify-content: center;
  align-items: center;
}

/* more options div gird */ 

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  justify-content: center;
  align-items: center;
}

.grid-item {
  justify-content: center;
  align-items: center;
  padding: 2vw;
  height: auto;
}

.column_result {
    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  gap: 1vw; 
  justify-content: center;
  align-items: center;

} 

.parameter {
 font-weight: 666;
}

.notselected {
  background: linear-gradient(188deg, #b08df1f1 22%, #5354aaee 100%);
  border-radius: 14px;
  padding: 2vw;
  box-shadow: 5px 5px 10px rgb(70, 3, 4);
  border: 1px solid #ccc; 
    }


  .validation_alert {
    color: red;
    font-size: small;
  }


  #alerts {
    margin: 0;
    padding: 0;
    display: grid; 
    align-items: center;
    justify-content: center;
}

.alert {
  color:rgb(17, 7, 7);
/* color:rgb(70, 3, 4); */
/* font-size: 20px; */
font-weight: 800;
background: linear-gradient(188deg, #b08df1f1 22%, #5354aaee 100%);
border-radius: 10px;
padding: 5vh;
box-shadow: 5px 5px 10px rgb(70, 3, 4);
border: 1px solid #0f1946; 
margin: 10px 0 0 0 ; 
}

.inputalert {
  border-color: red;  
  background: linear-gradient(188deg, #ac9fc2f1 22%, #9571b3ee 100%);
}

.valid_alert {
color:rgb(114, 122, 3);
/* font-size: 20px; */

background: linear-gradient(125deg, #ebbe5de0 12%, #ca8b2de0 66%);
border-radius: 10px;
padding: 20px;
box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);
border: 1px solid #0f1946; 
margin: 10px 0 0 0 ; 
display: none; 
}


/*Tiles*/ 

.tiles, .infotile {
  background: linear-gradient(145deg, #bdce86f6  5%, #9bb8cdec 50%);
  border-radius: 10px;
  padding: 2vw;
  box-shadow: 5px 5px 10px rgba(3, 85, 110, 0.74);
  border: 1px solid #0f1946; 
  margin: 5vw 0 0 0 ; 
  position: relative;
}

.infotile { 
  background: linear-gradient(145deg, #c2db70f6  22%, #9bb8cdec 88%);
  white-space: wrap;
  display: none;
}

.infotile p { 
 margin: 0; 
}


.fish_card, .infocard {
  flex: 0 0 calc(33.33% - 10px); 
  margin: 5px; 
  box-sizing: border-box;
  border: 1px solid #010a14;
  border-radius: 10px;
  padding: 2vw;
  background: linear-gradient(145deg, #dbb96fe0 22%, #ca8b2de0 88%);
background-attachment: fixed;
box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);
position: relative; /*necessary for in card elements to allign as I want */ 
  
} 

.infocard {
  background: linear-gradient(125deg, #e1ec3edc 25%, #ca8b2de0 66%);
  box-shadow: 5px 5px 10px hsla(49, 90%, 25%, 0.904);
}



.fishcardimage {
width: 25vw;
height: 20vw;
border-color: #05224f;
border-width: 1px; 
border-radius: 3px;
border-style: solid;

}

select {
  background-color: #cedba3f6;
  cursor: pointer;
}

.numberbox {
  background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 100%);
cursor: text;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: #485d6bec;
}

input[type="radio"] {
  cursor: pointer;
}

.fishsize {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: rgb(136, 105, 3); 
}

.fishtemp {
  position: absolute;
  color: rgb(136, 105, 3); 
  bottom: 0;
  left: 50%;
  transform: translateX(-77%);
  margin: 10px;
}

.tanksize {
  position: absolute;
  color: rgb(136, 105, 3); 
  bottom: 0;
  left: 5%;
  transform: translateX(-50%);
  margin: 10px;
}

.fishname {
  margin-top: 0px;
}

#cpanel1, #cpanel2 {
  position: relative; 
  background-color: red;
}





/* Making it a little bit responsive here  */ 


/* @media screen and (max-width: 450px) {
  .column_result {
    grid-template-columns: repeat(2, 1fr);
  }
} */



@media screen and (min-width: 450px) {
  #maindiv {
    width: 95vw;
  }
}


@media screen and (min-width: 788px) {
  #maindiv {
    width: 85vw;
  }

}


@media screen and (min-width: 839px) {
  #maindiv {
    width: 80vw;
  }
}

@media screen and (min-width: 956px) {
  #maindiv {
    width: 70vw;
  }
}

@media screen and (min-width: 1110px) {
  #maindiv {
    width: 65vw;
  }
}

@media screen and (min-width: 1300px) {
  #maindiv {
    width: 60vw;
  }
  .fishcardimage {
    width: 225px;
    height: 175px;
}
}

@media screen and (min-width: 1600px) {
  #maindiv {
    width: 50vw;
    
  }
  .fishcardimage {
    width: 250px;
    height: 200px;
}
}

/* @media (max-width: 768px) {
  #maindiv {
    width: 100%; 
  }
} */

/*The button that opens the dropdown for Settings */ 
.dropbtn {
  text-decoration: none; /* Remove underline from the anchor element; I might separate this.*/
  background:#85c9c9ec;
  /* background-color: #72a2c2; */
  color: rgb(8, 1, 1);
  padding: 1vw;
  font-size: 1rem;
  border: solid;
  cursor: pointer;
  border-left: 1px solid #000;  
  border-right: 1px solid #000; 
  border-top: none;           
  border-bottom: none;
  padding-top: 1vh; 
  padding-bottom: 1vh; 
  border-radius: 10px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:  #86a5def8; 
  font-size: 1.05rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* The dropdown menu itself */ 
.dropdown-content {
  display: none;
  position: absolute;
  background:  #9dd4e0ec;
  min-width: 0.4vw;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(53, 72, 247, 0.473);
  z-index: 1;
  border-radius: 0 10px 10px 10px;
  white-space: nowrap; 
}

.dropdown-content:hover, .dropdown-content:focus {
  box-shadow: 5px 5px 10px rgba(31, 51, 236, 0.795);
}

.dropdown-content span {
  color: black;
  padding: 1vh 1.5vh;
  text-decoration: none;
  display: block;
}

.dropdown span:hover {background-color:  #86a5def8; }

.show {display: block;}


.reveal_card {
  display: none;
}

.infocardtext {
  font-size: 0.9rem;
  margin: 0; 
}

.iconimage {
width: 15vw;
height: 13vh;
border-color: #05224f;
border-width: 1px; 
border-radius: 3px;
border-style: solid;
}


.title {
  position: absolute;
  font-weight: 666;
  top: 0;
  left: 50%;
  transform: translateX(-40%);
  white-space: nowrap;
  font-size: 0.8rem; 
}

.subtitle, .bigsubtitle, .verybigsubtitle {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-40%);
  white-space: nowrap;
  font-size: 13px; 
}

@media screen and (max-width: 1288px) {
  .verybigsubtitle {
    font-size: 67%;
    transform: translateX(-40%);
  }
}

@media screen and (max-width: 1200px) {
  .bigsubtitle {
    font-size: 70%;
    transform: translateX(-40%);
  }

  .verybigsubtitle {
    font-size: 64%;
  }
}

@media screen and (max-width: 830px) {
  

  .verybigsubtitle {
    font-size: 60%;
    transform: translateX(-38%);
  }
}

@media screen and (max-width: 812px) {
  

  .bigsubtitle {
    font-size: 65%;
    transform: translateX(-38%);
  }
}



/*About and feedback*/ 

#about {
  display: none;
  white-space: wrap;
  text-align: justify;
  position: relative;
}

#about p {
  margin: 0; 
  white-space: wrap;
  text-align: justify;
  word-wrap: break-word;
  width: auto;
}

#about p span {
  font-weight: 600;
}

h1 {
  font-size: 1.3rem; 
}

h2 {
  font-size: 1rem; 
  margin-bottom: 2px;
}

#feedback {
  display: none; 
  position: relative;
}

.x-out {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px; 
  cursor: pointer; 
}

.x-out:hover {
  /* color: blue; */
  font-size: 1.3rem;
}


#noresults {
  display: none;
}

#searchInput {
  background-color: #ecf1bd;
}


/*Animations*/ 
/* Number of selector results update animation; firing only if result number changes*/

@keyframes resultflash { 
  0% { background-color: rgba(189, 206, 134, 0.336); color: rgb(255, 252, 76);}
  10% { background-color:  rgba(185, 212, 95, 0.438); color: rgb(204, 218, 157);}
  20% { background-color: rgba(218, 218, 104, 0.568); }
  40% { background-color: rgba(221, 221, 78, 0.514);  }
  60% { background-color: rgba(226, 226, 60, 0.541);  }
  80% { background-color: rgba(214, 214, 82, 0.247); }
  100% { background-color: rgba(209, 209, 114, 0.301);  }
}

.value-updated {
  animation: resultflash 1s ease;
  border-radius: 25px;
}

/*Capacity and temperatur conversion animation*/
@keyframes numberflash { 
  0% { background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 100%); color: yellow;}
  10% { background: linear-gradient(125deg, #a6ceecec 22%, #e2f0b3f6 95%);color: rgba(255, 242, 65, 0.89);}
  20% { background: linear-gradient(115deg, #a4c6e0 22%, #e2f0b3 90%);}
  30% { background: linear-gradient(125deg, #a0c8e4 22%, #e2f0b3 85%);}
  40% { background: linear-gradient(115deg, #b5d7f0ec 22%, #e2f0b3 83%);}
  50% { background: linear-gradient(124deg,#b5d7f0 22%, #e2f0b3 85%);}
  60% { background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 90%);}
  70% { background: linear-gradient(123deg, #b5d7f0ec 22%, #e2f0b3f6 95%);}
  80% { background: linear-gradient(112deg, #b5d7f0ec 22%, #e2f0b3f6 100%);}
  90% { background: linear-gradient(117deg, #b5d7f0ec 22%, #e2f0b3f6 100%);}
  100% { background: linear-gradient(120deg, #b5d7f0ec 22%, #e2f0b3f6 100%);}
}

.number-updated {
  animation: numberflash 1s ease;
  cursor: text;
}


@keyframes glow { 
  0% { border: 1px solid   #05224f; box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);width: 50px;height: 40px;}
  10% { border:1px solid  #5c580b; box-shadow: 5px 5px 10px hsla(49, 85%, 33%, 0.904);width: 51px;height: 41px;}
  20% { border: 1px solid #a7871f; box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);width: 50px;height: 41px;}
  30% { border: 1px solid #96701e; box-shadow: 5px 5px 10px hsla(49, 95%, 26%, 0.904);width: 51px;height: 41px;}
  40% { border: 1px solid #915d22; box-shadow: 5px 5px 10px hsla(49, 85%, 26%, 0.904);width: 50px;height: 41px;}
  50% { border: 1px solid #9c7c11;box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904); width: 51px;height: 43px;}
  60% { border: 1px solid #976328;box-shadow: 5px 5px 10px hsla(49, 66%, 33%, 0.904); width: 50px;height: 42px;}
  70% { border: 1px solid #806429; box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);width: 51px;height: 41px;}
  80% { border: 1px solid  #a7871f;box-shadow: 5px 5px 10px hsla(49, 71%, 29%, 0.904);width: 50px;height: 41px;}
  90% { border: 1px solid #5f4e16;box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);width: 51px;height: 41px;}
  100% { border: 1px solid #05224f;box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);width: 50px;height: 40px;}
}


.reveal_card:hover .iconimage { 
  animation: glow 7s infinite; 
}


.hardipertile, .availpertile, .behpertile ,.agrespertile, .breedpertile, #perliter, #pertemp {
  display: none;
  font-size: 0.7rem;
}


#div_hardiness:hover {
  .hardipertile {
    display: inline-block;
  }
}

#div_avail:hover {
  .availpertile {
    display: inline-block;
  }
}

#div_behavior:hover {
  .behpertile {
    display: inline-block;
  }
}

#div_agression:hover {
  .agrespertile {
    display: inline-block;
  }
}


#div_breeding:hover  {
  .breedpertile {
    display: inline-block;
  }
}

#div_tank_size:hover {
  #perliter{
    display: inline-block;
  }
}

#div_temp:hover {
  #pertemp{
    display: inline-block;
  }
}


#imagechanger {
  display: none; /*dont need it for now */ 
}


.filler {
  font-size: 0.7rem; 
  color:#413e07;
}


.google-form-wrapper {
  max-width: 640px; 
  margin: auto;
  border: 1px solid #ccc; 
  box-shadow: 5px 5px 10px rgba(3, 85, 110, 0.74);
  border-radius: 10px; 
  overflow: hidden; 
  background: linear-gradient(145deg, #d4e796f6  5%, #b4d6eeec 50%);
}