

body {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content; /* This ensures that the container is centered vertically on the page */
}


#maindiv {
  width: 50vw; /* Set the desired width of your rectangle */
  margin: 0 auto; /* Center the container horizontally */
  border: 10px solid #aeaef5; /* Optional: Add a border for better visualization */
  padding: 20px; /* Optional: Add padding to the content inside the container */
  border-radius: 5px; 
  display: inline-block; 
}

#main_form {
  display: flex; 
}

.column {
  flex: 1; /* This makes both columns take up equal width */
  margin: 10px; /* Adjust margin as needed */

} 

 
.body-color-1 {
 /*background-color: #AAC4FF ; */
 background: rgb(210,218,255);
 background: linear-gradient(0deg, rgba(210,218,255,1) 0%, rgba(170,196,255,1) 59%);
background-attachment: fixed;


}


.parameter {
 font-weight: 666;
}

.notselected {
  font-style: italic;
  color: #5e0045; 
    }


  .validation_alert {
    color: red;
    font-size: small;
  }

/* 
welcome
div_tank_size
div_hardiness
div_avail
div_temp
div_more_opt_button
div_behavior
div_agression
div_breeding
*/ 


#search {
  width: 10vw;
  height: 5vh; 
}
