

body {
  margin: 10px;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: fit-content; /* This ensures that the container is centered vertically on the page */
}


#maindiv {
  width: 90vw; 
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding to the content inside the container */
  border-radius: 5px; 
  display: inline-block; 
  white-space: nowrap;
}



#main_form {
  display: flex; 
}

.column {
  flex: 1; /* This makes both columns take up equal width */
  margin: 10px; /* Adjust margin as needed */

} 

 
.body-color-1 {
  /* background: linear-gradient(125deg, rgb(139 154 225) 12%, rgb(122 139 176) 66%);
background-attachment: fixed; */
background-image: url('IMG_9602.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; /* This keeps the background fixed when scrolling */


}


.parameter {
 font-weight: 666;
}

.notselected {
  background: linear-gradient(188deg, #b39edaf1 22%, #a3768fee 100%);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(70, 3, 4);
  border: 1px solid #ccc; 
    }


  .validation_alert {
    color: red;
    font-size: small;
  }

/* 
welcome
div_tank_size
div_hardiness
div_avail
div_temp
div_more_opt_button
div_behavior
div_agression
div_breeding
*/ 


/*Tiles*/ 

.tiles, .infotile {
  background: linear-gradient(145deg, #c2db70f6  5%, #9bb8cdec 50%);
  /* background: linear-gradient(188deg, #9bb8cdec 22%, #a9b388f6 100%); dark the above is bright*/
  /* background: linear-gradient(188deg, #abd6e0f5 25%, #86a5def8 88%); blue */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(3, 85, 110, 0.74);
  border: 1px solid #0f1946; 
  margin: 10px 0 0 0 ; 
  position: relative;
}

.infotile { 
  background: linear-gradient(145deg, #c2db70f6  22%, #9bb8cdec 88%);
  white-space: wrap;
  display: none;
}

.infotile p { 
 margin: 0; 
}

.kmark {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px; 
  background-color: #20c4da3f;
  border-radius: 10px;
}

.kmark:hover {
  cursor: help;
  background-color: #c2db70f6;
}

/* more options div gird */ 

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  gap: 10px; 
  justify-content: center;
  align-items: center;
}

.grid-item {
  height: 100px; 
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.column_result {
    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  gap: 10px; 
  justify-content: center;
  align-items: center;

} 


.fish_card, .infocard {
  flex: 0 0 calc(33.33% - 10px); 
  margin: 5px; 
  box-sizing: border-box;
  border: 1px solid #010a14;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(125deg, #ebbe5de0 25%, #ca8b2de0 66%);
background-attachment: fixed;
box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);
position: relative; /*necessary for in card elements to allign as I want */ 
  
} 

.infocard {
  background: linear-gradient(125deg, #e1ec3edc 25%, #ca8b2de0 66%);
  box-shadow: 5px 5px 10px hsla(49, 90%, 25%, 0.904);
}



.fishcardimage {
width: 200px;
height: 150px;
border-color: #05224f;
border-width: 1px; 
border-radius: 3px;
border-style: solid;

}

select {
  background-color: #cedba3f6;
  cursor: pointer;
}

input[type="number"] {
  background: linear-gradient(188deg, #b5d7f0ec 22%, #e2f0b3f6 100%);
/* background: linear-gradient(188deg, #9bb8cdec 22%, #a9b388f6 100%); */
cursor: text;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: #485d6bec;
}

input[type="radio"] {
  cursor: pointer;
}

.fishsize {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: rgb(136, 105, 3); 
}

.fishtemp {
  position: absolute;
  color: rgb(136, 105, 3); 
  bottom: 0;
  left: 50%;
  transform: translateX(-77%);
  margin: 10px;
}

.tanksize {
  position: absolute;
  color: rgb(136, 105, 3); 
  bottom: 0;
  left: 5%;
  transform: translateX(-50%);
  margin: 10px;
}

.fishname {
  margin-top: 0px;
}

#cpanel {
  position: relative; 
}


#alerts {
      margin: 0;
      padding: 0;
      display: grid; 
      align-items: center;
      justify-content: center;
}

.alert {
  color:rgb(70, 3, 4);
  /* font-size: 20px; */

  background: linear-gradient(188deg, #c0a2f6 0%, #a37d92 100%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(70, 3, 4);
  border: 1px solid #0f1946; 
  margin: 10px 0 0 0 ; 

}

.valid_alert {
  color:rgb(114, 122, 3);
  /* font-size: 20px; */

  background: linear-gradient(125deg, #ebbe5de0 12%, #ca8b2de0 66%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px hsla(49, 98%, 21%, 0.904);
  border: 1px solid #0f1946; 
  margin: 10px 0 0 0 ; 
}


/* Making it a little bit responsive here  */ 

@media screen and (min-width: 450px) {
  #maindiv {
    width: 95vw;
  }
}


@media screen and (min-width: 788px) {
  #maindiv {
    width: 85vw;
  }
}


@media screen and (min-width: 839px) {
  #maindiv {
    width: 80vw;
  }
}

@media screen and (min-width: 956px) {
  #maindiv {
    width: 70vw;
  }
}

@media screen and (min-width: 1110px) {
  #maindiv {
    width: 65vw;
  }
}

@media screen and (min-width: 1300px) {
  #maindiv {
    width: 60vw;
  }
  .fishcardimage {
    width: 225px;
    height: 175px;
}
}

@media screen and (min-width: 1600px) {
  #maindiv {
    width: 50vw;
    
  }
  .fishcardimage {
    width: 250px;
    height: 200px;
}
}

/*The button that opens the dropdown for Settings */ 
.dropbtn {
  text-decoration: none; /* Remove underline from the anchor element; I might separate this.*/
  background:#85c9c9ec;
  /* background-color: #72a2c2; */
  color: rgb(8, 1, 1);
  padding: 16px;
  font-size: 16px;
  border: solid;
  cursor: pointer;
  border-left: 1px solid #000;  /* Adjust color and width as needed */
  border-right: 1px solid #000; /* Adjust color and width as needed */
  border-top: none;             /* No top border */
  border-bottom: none;
  padding-top: 20px; /* Set the top padding to 20 pixels */
  padding-bottom: 20px; /* Set the bottom padding to 30 pixels */
  border-radius: 10px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:  #86a5def8; 
  font-size: 17px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* The dropdown menu itself */ 
.dropdown-content {
  display: none;
  position: absolute;
  background:  #9dd4e0ec;
  min-width: 160px;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(53, 72, 247, 0.473);
  z-index: 1;
  border-radius: 0 10px 10px 10px;
  white-space: nowrap; 
}

.dropdown-content:hover, .dropdown-content:focus {
  box-shadow: 5px 5px 10px rgba(31, 51, 236, 0.795);
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown span:hover {background-color:  #86a5def8; }

.show {display: block;}


.reveal_card {
  display: none;
}

.infocardtext {
  font-size: 15px;
  margin: 0; 
}

.iconimage {
width: 50px;
height: 40px;
border-color: #05224f;
border-width: 1px; 
border-radius: 3px;
border-style: solid;
}


.title {
  position: absolute;
  font-weight: 666;
  top: 0;
  left: 50%;
  transform: translateX(-40%);
  white-space: nowrap;
  font-size: 13px; 
}

.subtitle {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-40%);
  white-space: nowrap;
  font-size: 13px; 
}
