

body {
  margin: 10px;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: fit-content; /* This ensures that the container is centered vertically on the page */
}


#maindiv {
  width: 50vw; /* Set the desired width of your rectangle */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Optional: Add padding to the content inside the container */
  border-radius: 5px; 
  display: inline-block; 
}

#main_form {
  display: flex; 
}

.column {
  flex: 1; /* This makes both columns take up equal width */
  margin: 10px; /* Adjust margin as needed */

} 

 
.body-color-1 {
 /*background-color: #AAC4FF ; */
 background: rgb(210,218,255);
  background: linear-gradient(125deg, rgb(139 154 225) 12%, rgb(122 139 176) 66%);
background-attachment: fixed;


}


.parameter {
 font-weight: 666;
}

.notselected {
  font-style: italic;
  color: #5e0045; 
    }


  .validation_alert {
    color: red;
    font-size: small;
  }

/* 
welcome
div_tank_size
div_hardiness
div_avail
div_temp
div_more_opt_button
div_behavior
div_agression
div_breeding
*/ 


/* Button Search */
#search {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  border: 1px solid #ccc; /* Add a border to simulate depth */
}

#search:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#search:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#search:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*Tiles*/ 

.tiles {
  background: linear-gradient(188deg, #abd6e0 0%, #86a5de 100%);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(42, 5, 252, 0.3);
  border: 1px solid #ccc; /* Add a border to simulate depth */
}


/* more options div gird */ 

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
   gap: 10px; 
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
}

.grid-item {
  /* width: 100px;  */
  height: 100px; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 20px;
}


ul {
  list-style-type: none;
  padding: 0; /* Optional: Remove default padding */
}
